<div>
  <h3>Formulario </h3>
  <form action="/productos" method="POST">
    Titulo <input  type="text" name="title" >
    Precio <input type="text" name="price">
    Imagen <input type="text" name="thumbnail">
    <button type="submit">Enviar</button>
  </form>
</div>