html
  head 
    title='Form ingreso'
  body 
    h1=message
    form(role='form' method='post' action='/productos')
      p Titulo:
        input(type="text" name="title" placeholder="")
      p Precio:
        input(type="text" name="price" placeholder="")
      p Imagen:
        input(type="text" name="thumbnail" placeholder="")
      button(type="submit") Agregar