<h1>{{message}}</h1>

<fieldset>
  <form onSubmit="addProduct();return false">
    <label for="title">Titulo</label>
    <input type="text"  name="title" id="title" >
    <label for="price">Precio</label>
    <input type="text"  name="price" id="price" >
    <label for="thumbnail">Imagen</label>
    <input type="text"  name="thumbnail" id="thumbnail" >
    <input type="submit" value="Agregar">
  </form>
</fieldset>


<fieldset>
  <h2>Productos ingresados</h2>
  <ul id="products"></ul>
</fieldset>


<fieldset>
  <h2>Chat</h2>
  <form onSubmit="addMessage();return false">
    <label for="mail">Mail</label>
    <input type="text"  name="mail" id="mail" >
    <label for="message">Texto</label>
    <textarea  name="message" id="message" ></textarea>
    <input type="submit" value="Agregar">
  </form>

  <h2>Mensajes</h2>
  <ul id="chatMessages"></ul>
</fieldset>

<script>

    const socket = io()

    socket.on('productBack',(data)=>{
      console.log('Recibida desde backend: ',data)
      let innerText =''
      data.map((product)=>{
        innerText+=`
        <li>
          <div>Titulo: ${product.title}</div>
          <div>Precio: $${product.price}</div>
          <div>Imagen:
            <img src="${product.thumbnail}" alt="">
          </div>
        </li>
        `
      })
      document.getElementById('products').innerHTML= innerText
    })

    function addProduct(){
      const title = document.getElementById('title').value
      const price = document.getElementById('price').value
      const thumbnail = document.getElementById('thumbnail').value
      console.log(title, price)
      socket.emit('productFront',{
        title,
        price,
        thumbnail    
     })
      document.getElementById('message').value=''
    }

    socket.on('messageBack',(data)=>{
      console.log('Recibida desde backend: ',data)
      let innerText =''
      data.map((message)=>{
        innerText+=`
        <li>
          <div>Mail: ${message.mail}</div>
          <div>Mensaje: ${message.message}</div>
           <div>Fecha: ${message.date}</div>
        </li>
        `
      })
      document.getElementById('chatMessages').innerHTML= innerText
    })

    function addMessage(){
      const mail = document.getElementById('mail').value
      const message = document.getElementById('message').value
      socket.emit('messageFront',{
        mail,
        date: new Date(),
        message
     })
      document.getElementById('message').value=''
    }
  </script>
