<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head') %> 
</head>
<header>
  <%- include('../partials/header') %>
</header>
<body>
  <h1>Ingreso nuevo</h1>
  <%- include('../partials/form') %>
</body>
<footer>
  <%- include('../partials/footer') %>
</footer>
</html>